# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Data files (optional - uncomment if files are large)
# data/*.fasta
# data/*.gb

# OS files
.DS_Store
Thumbs.db

# Distribution / packaging
dist/
build/
*.egg-info/